<div class="sixteen columns">
  <div class="email-subscription clearfix">
    <form class="email-subscription-form" action="//talkingcode.us10.list-manage.com/subscribe/post?u=4574458db1d8a11bc93d8ff61&amp;id=a8516572a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" data-source="header_form" novalidate>
      <input id="mc-email" type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="you@email.com">
      <button>Keep me updated!</button>
      <label for="EMAIL" class="response"></label>
    </form>
  </div>
</div>
