<div class="ebook-subscription-container">
  <div class="ebook-subscription email-subscription ebook is-on-white-background">
    <h4 class="six columns">Subscribe to our mailing list</h4>
      <form class="email-subscription-form ebook six columns" action="//talkingcode.us10.list-manage.com/subscribe/post?u=4574458db1d8a11bc93d8ff61&amp;id=4b4749586f" method="post" id="mc-embedded-subscribe-ebook-form" name="mc-embedded-subscribe-ebook-form" class="validate" target="_blank" data-source="ebook_form" novalidate>
        <input id="mc-ebook" type="email" value="" name="EMAIL" class="required email input six columns" placeholder="you@email.com">
        <button class="four columns subscribe-button">Download Now</button>
        <label for="EMAIL" class="response four columns"></label>
      </form>
    </div>
</div>