<div id="navigation" class="has-no-signup">
  <%= partial 'partials/navigation_links' %>

  <div class="container">
    <div class="eight columns offset-by-four">
      <a href="/">
        <div class="logo"></div>
      </a>
      <div class="explainer">
        <p>Short expert interviews that help you <em>decode</em> what developers are saying.</p>
      </div>
    </div>

    <%= partial 'partials/review_quote' %>
  </div>
</div>
