<nav class="container">
  <a href="/">Episodes</a>
  <a href="http://blog.talkingcode.com/">Blog</a>
  <a class="right" href="/ask">Ask a Question</a>
  <a class="right" href="http://simplecast.fm/podcasts/150/rss">RSS</a>
  <a class="right itunes" href="https://itunes.apple.com/us/podcast/talking-code/id988073177?mt=2&uo=6&at=&ct=">Subscribe on iTunes</a>
</nav>
