<div class='simplecast-player-container simplecast-player-light'>
  <div class='jp-jplayer' id='simplecast-audio-player'></div>
  <div class='jp-audio simplecast-player' data-duration='<%= duration %>' data-media='<%= download_url %>' id='jp_container_1'>
    <div class='jp-type-single'>
      <div class='jp-gui jp-interface'>
        <nav class='jp-controls jp-play-controls jp-gui-item'>
          <a class='jp-play' href='javascript:;' tabindex='1' title='Play'><img class="svg" src="/images/play-player.svg" alt="Play" /></a>
          <a class='jp-pause' href='javascript:;' tabindex='1' title='Pause'><img class="svg" src="/images/pause-player.svg" alt="Pause" /></a>
          <a class='jp-loading' href='javascript:;' tabindex='1' style="display:none;" ><img class="svg" src="/images/loading.gif" alt="Loading"/></a>
        </nav>
        <nav class='jp-rewind jp-gui-item'>
          <a class='main-player-rewind' href='javascript:;' tabindex='1' title='30 second rewind'><img class="svg" src="/images/rewind-player.svg" alt="Rewind" /></a>
        </nav>
        <div class='jp-time jp-current-time jp-gui-item'></div>
        <div class='jp-gui-item'>
          <div class='jp-progress'>
            <div class='jp-seek-bar' title='Seek'>
              <div class='jp-play-bar'></div>
            </div>
          </div>
        </div>
        <div class='jp-time jp-duration jp-gui-item'></div>
        <nav class='jp-controls jp-volume-controls jp-gui-item'>
          <a class='jp-mute' href='javascript:;' tabindex='1' title='Mute'><img class="svg" src="/images/mute-player.svg" alt="Mute" /></a>
          <a class='jp-unmute' href='javascript:;' tabindex='1' title='Unmute'><img class="svg" src="/images/unmute-player.svg" alt="Unmute" /></a>
        </nav>
        <nav class='jp-player-speed main-player-speed jp-gui-item' title='Change playback speed'>1x</nav>
      </div>
    </div>
  </div>
</div>