<div class="question container">
  <section class="content">
    <figure class="avatar large">
      <img src="/images/burning.gif" />
    </figure>
  </section>
  <section class="content twelve columns offset-by-two" id="ask-a-question">
    <h1>Ask a question!</h1>
  </section>
  <section class="content twelve columns offset-by-two">
    <p>Have a question?
    We love hearing from our listeners! Ask below and we’ll answer it directly or in a future interview. We respond to every email.</p>
  </section>
  <section class="content twelve columns offset-by-two">

    <div class="ask-question-form" id="question-form">
      <form action="" method="post">
        <div class="input-group">
          <label for="name">Your Name</label>
          <input type="text" name="name" placeholder="John Q. Public" required />
        </div>
        <div class="input-group">
          <label for="email">Your Email <span>So we can answer you!</span></label>
          <input type="email" name="email" placeholder="your@email.com" required />
          </div>
        <div class="input-group">
          <label for="message">Your Question</label>
          <textarea name="message" rows="10" cols="50" placeholder="What do you want to know? Feel free to ask anything or even just suggest a topic you'd like to hear more about." required></textarea>
        </div>
        <div class="input-group">
          <input class="button" type="submit" value="Submit Your Question" />
        </div>
      </form>

    </div>
  </section>
</div>