<div class="eight columns offset-by-four">
  <div class="review-quote">
    <img src="<%= processed_image_url(:small, 'avatars/dan_ritz.jpg') %>" />
    <div class="review-quote-text">
      <p>Everyone interviewed that I’ve listened to is really good at explaining things in (close to) plain English.</p>
      <p class="reviewer">– Dan Ritzenthaler<p>
    </div>
  </div>
</div>
