body {
    border-top: 5px solid #c0392b;
}
header {
    background-color: #e74c3c;
    color: #fff;
}
.section-icon {
    background-color: #e74c3c;
    color: #fff;
}
#summary {
    background-color: #e74c3c;
    color: #fff;
}
.section-colored {
    background-color: #fcedeb;
}
.summary-body {
    background-color: #c0392b;
}
.pricing-body {
    background-color: #c0392b;
}
.pricing-body-bottom {
    background-color: #73261e;
}
footer {
    background-color: #c0392b;
    color: #fff;
}
.color-fff {
    color: #fff;
}
