<div class="invitation container">
  <section class="content">
    <h1>You're invited to be a guest!</h1>
  </section>
  <section class="content">
    <figure class="avatar large">
      <img src="/images/omg.gif" />
    </figure>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>Why me?</h2>
    <p>We interview subject matter experts on essential topics in building software – like how teams should do continous deployment, or send transactional emails, or design user interfaces – all so we can give our listeners the need-to-know.</p>
    <p>You were asked to join because we consider you to be one of these experts.</p>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>Our audience</h2>
    <p>Our listeners are primarily non-technical people who work in teams with technical people. Think a non-technical founder, or a project manager, or a designer. They may not know how to code, but they certainly want to know a little about how the sausage is made.</p>
    <p>Most importantly, they want to understand their team: what are they saying, what are they doing, and why should I care?</p>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>Scheduling</h2>
    <p>Between setup, mic checks, the interview, and allowing room for any interruptions, we ask that you allocate an hour. The recording itself won't take that long, but we find it's a good window that doesn't leave anyone feeling pressured for time.</p>
    <p>We often have recording dates outlined in advance. We'll provide an option for you in a follow-up email. We can try to be flexible if none of our dates or times work.</p>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>What we'll ask</h2>
    <p>We'll send you questions at least 48 hours prior to our interview that outline what we want to discuss. In our invite e-mail we outlined generally what we care about, but a full list of questions will be on their way.</p>
    <p>Since our episodes tend to be pretty topical, we want to help you prepare as much as we can. Some guests still prefer to come in fresh and hear questions first-time, so how you want to prepare is entirely up to you.</p>
  </section>
  <section class="content sixteen columns">
    <h2>What you'll need</h2>
    <div class="twelve columns offset-by-two">
      <div class="skype">
        <img src="/images/skype.png" />
      </div>
      <p>Our interview will happen entirely on <a href="http://www.skype.com/en/download-skype/skype-for-computer/">Skype</a>. You should send us your Skype username and add us when you have a moment; our username for the call will be <strong><%= partial 'partials/coderly_link'%></strong>.</p>
      <p>You should find a quiet place away from any background noise. Since you'll be talking the majority of the interview, it will be hard to filter out background noise.</p>
      <p>Audio quality is everything for our audience. You probably have one of the microphones we listed below. Microphones built into your computer just cannot provide the quality we're looking for.</p>
    </div>
    <div class="clear"></div>
    <div class="audio-tools">
      <ul>
        <li>
          <img src="/images/nice-mic.png" />
          <p>High-end mic</p>
          <div class="icon ok-icon"></div>
        </li>
        <li>
          <img src="/images/okay-mic.png" />
          <p>Mid-range mic</p>
          <div class="icon ok-icon"></div>
        </li>
        <li>
          <img src="/images/headset.png" />
          <p>Headset</p>
          <div class="icon ok-icon"></div>
        </li>
        <li>
          <img src="/images/headphones.png" />
          <p>Headphones w/ mic</p>
          <div class="icon ok-icon"></div>
        </li>
        <li>
          <img src="/images/macbook.png" />
          <p>Built-in microphone</p>
          <div class="icon no-icon"></div>
        </li>
      </ul>
    </div>
    <div class="twelve columns offset-by-two">
      <p>If you don't have any of the above options, we can send you a microphone at no cost. You simply send it back in the same box with our provided return label.</p>
      <p>We also ask that, regardless of what microphone you use, you wear headphones. This avoids having your microphone pick up our audio.</p>
    </div>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>How will I sound?</h2>
    <p>Our editor makes magic happen. Just be yourself and we'll work out the ums and ahs and awkward pauses. You won't have to worry about how you sound.</p>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>Interview day</h2>
    <p>We'll email you a quick reminder a day or two before the interview with a link back to this page.</p>
    <p>Please be sure to turn off anything that might make noise and find a quiet space. All your desktop notifications should be turned off and your phone set to silent. If you set your phone to vibrate and you get a call, the sound may be picked up. The last thing you want is to have one of your answers ruined by the sound of a vibrating phone, so just try to be vigilant.</p>
    <p>We'll spend a few minutes introducing everyone and getting warmed up. We'll record a quick intro and then launch right into it.</p>
    <p>Don't worry too much about flubbing any of your answers because we can always pause, breathe, and start fresh. Our editor will be actively looking for these moments and fixing them so you can be sure they won't make it into the final audio.</p>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>After the show</h2>
    <p>If you had any show notes: interesting articles, or links, or your company's website, be sure to send that to us and we'll post it on your show's page.</p>
    <p>When the show has been slotted into our lineup as an upcoming episode, we'll let you know. And we'll let you know again before the show launches. This should give you an opportunity to let your audience know to listen in.</p>
    <p>We'll also provide some short tweetable links that reference your Twitter handle, so make sure to share your Twitter username with us.</p>
  </section>
  <section class="content twelve columns offset-by-two">
    <h2>Questions for us?</h2>
    <p>If you have any questions for us, you know how to reach us! Just send a quick email and we'll get back to you shortly.</p>
  </section>

</div>